<%= form_for @article do |f| %>
  标题：<%= f.text_field :title %><br />
  正文：<%= f.text_area :body %><br />

  <% Tag.all.each do |tag| %>
    <label for="tag_<%= tag.id %>"><%= tag.name %></label>
    <input type='checkbox' name='tag_ids[]' value="<%= tag.id %>" <%= @article.tags.include?(tag) ? 'checked': '' %>/>
  <% end %>
  <br />
  <%= f.submit('提交') %>
<% end %>