<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<p>评论(<span class='comment_count'><%= @post.comments.count %></span>)</p>
<%= form_for Comment.new, remote: true do |f| %>
	<%= hidden_field_tag :commentable_id, @post.id %>
	<%= hidden_field_tag :commentable_type, 'Post' %>
	<%= f.text_area :body %><br />
	<%= f.submit('提交评论') %>
<% end %>
<%= paginate @comments %>
<ul>
	<% @comments.each do |comment| %>
		<li>
			<p><i><%= comment.user.name %></i></p>
			<p><%= comment.body %></p>
		</li>
	<% end %>
</ul>
<%= paginate @comments %>

<script type="text/javascript">
	$(function(){
		$('form').submit(function(){
			$(this).ajaxSubmit(function(data){
				if(data.code == 'success'){
					var comment_count = parseInt($(".comment_count").text()) + 1
					$(".comment_count").text(comment_count);
				}
				var li = $("<li></li>")
				li.append("<p><i>" + data.data.name + "</i></p>")
				li.append("<p>" + data.data.body + "</p>")
				$("ul").prepend(li)
				if($('ul li').length > 5){
					$("ul li:last").remove()
				}
			});
			return false
		})
	})
</script>